<p-card class="course-content">
    <div class="flex justify-content-end flex-column-reverse md:flex-row align-items-center">
        <div
            class="flex flex-wrap justify-content-center md:justify-content-start gap-3 course-details-menu"
        >
            <p-button
                (click)="onClickHistoryBtn()"
                icon="pi pi-history"
                label="History"
                severity="secondary"
                size="small"
                [text]="true"
                [outlined]="true"
            >
                <!-- <i class="pi pi-history text-primary mr-2"></i>
                <span class="text-900">History</span> -->
            </p-button>
            <p-button
                (click)="goToEditCourse(courseRevisionId)"
                icon="pi pi-pencil"
                label="Edit"
                severity="info"
                size="small"
                [text]="true"
                [plain]="true"
                [outlined]="true"
            ></p-button>
        </div>
    </div>
    <span [innerHTML]="course?.description"></span>
</p-card>
