<div class="w-full md:w-10 m-auto">
    <div class="mb-3">
        <div class="text-blue-600 text-xl font-bold mb-3">Roles</div>

        <p-table
            [value]="roles"
            selectionMode="single"
            [(selection)]="selectedRole"
            [tableStyle]="{ 'min-width': '50rem' }"
            class="roles-table"
            styleClass="p-datatable-gridlines"
            (selectionChange)="onSelectionChange($event)"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem"></th>
                    <th>Role</th>
                    <th>Description</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-role>
                <tr>
                    <td>
                        <p-tableRadioButton [value]="role" />
                    </td>
                    <td>{{ role.name }}</td>
                    <td>{{ role.description }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="mt-5 permission-container" *ngIf="selectedRole; else showEmptyPage">
        <div class="text-blue-600 text-xl font-bold mb-3">Permissions</div>
        <p-table
            [value]="permissions"
            rowGroupMode="rowspan"
            groupRowsBy="resource"
            [tableStyle]="{ 'min-width': '75rem' }"
            styleClass="p-datatable-gridlines"
            class="permission-table"
        >
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <div></div>

                    <p-button
                        icon="pi pi-save"
                        label="Save"
                        size="small"
                        [text]="true"
                        [outlined]="true"
                        [loading]="isSaveBtnLoading"
                        (click)="onClickSaveBtn()"
                        styleClass="table-header-btn"
                        [disabled]="isPermissionIntact"
                    ></p-button>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>Resource</th>
                    <th>Permission</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template
                pTemplate="body"
                let-permission
                let-rowIndex="rowIndex"
                let-rowgroup="rowgroup"
                let-rowspan="rowspan"
            >
                <tr>
                    <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                        <span class="text-md font-medium ml-2">{{ permission.resource }}</span>
                    </td>
                    <td>
                        <span>{{ permission.action }}</span>
                    </td>
                    <td>
                        <p-checkbox
                            [(ngModel)]="selectedPermissions"
                            name="group"
                            [value]="permission.name"
                            (onChange)="onChangePermission()"
                        />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<ng-template #showEmptyPage>
    <div class="card p-5">
        <h5 class="text-orange-500">Select a role to see permissions</h5>
    </div>
</ng-template>
<p-toast />
