<p-card styleClass="h-full">
    <p-timeline [value]="courseRevisions" styleClass="course-history-timeline">
        <ng-template pTemplate="content" let-courseRevision>
            <div
                class="content-container flex justify-content-between align-items-center flex-wrap"
            >
                <div class="flex flex-column">
                    <p-button
                        [label]="courseRevision.reasonForRevision"
                        [text]="true"
                        [link]="true"
                        [plain]="true"
                        [routerLink]="['../../', courseRevision.id]"
                        size="small"
                    ></p-button>
                    <p-button label="Author: Tanvir Ahmed" [text]="true" size="small"></p-button>
                </div>

                <p-button label="See Changes" [text]="true" [link]="true" size="small" (click)="goToComparePage(courseRevision.id)"></p-button>
            </div>
        </ng-template>
    </p-timeline>
</p-card>
