::ng-deep .course-history-timeline .p-timeline-event-opposite {
    flex: 0;
    padding: 0;
}

::ng-deep .course-history-timeline .p-timeline-event-content {
    padding: 0;
}

.course-history-timeline {
    margin-bottom: 20px;
}

::ng-deep .course-history-timeline .content-container {
    border: 1px solid #e5e7eb;
    background: #ffffff;
    color: #4b5563;
    margin: 1rem;
}

:host {
    height: 100%;
}
