<div class="w-full md:w-10 m-auto">
    <div class="surface-section px-4 py-5">
        <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
            <div>
                <div class="font-medium text-3xl text-primary text-900">
                    {{ latestCourseRevision?.title }}
                </div>
                <div class="flex align-items-center text-700 flex-wrap">
                    <div class="flex align-items-center mt-3">
                        <i class="pi pi-clock mr-2"></i>
                        <span>{{ courseRevisions?.length }} revisions has been made</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        *ngFor="let courseRevision of courseRevisions"
        class="content-container flex justify-content-between align-items-center flex-wrap history-item"
    >
        <div class="flex flex-column">
            <div
                [routerLink]="['../../', courseRevision.id]"
                class="course-title text-xl hover:text-primary font-bold font-medium my-2"
            >
                {{ courseRevision.title }}
            </div>
            <div></div>
            <!-- <p-button label="Author: Tanvir Ahmed" [text]="true" size="small"></p-button> -->
            <div class="text-sm mb-2 course-info">
                <!-- <span class="font-bold">Author:</span> -->
                proposed by
                <span class="author-name font-medium hover:text-primary cursor-pointer">
                    {{ courseRevision.authorName }}
                </span>
                for
                <span class="curriculum-title font-medium hover:text-primary cursor-pointer">
                    {{ courseRevision.reasonForRevision }}
                </span>
            </div>
        </div>

        <p-button
            label="See Changes"
            [text]="true"
            [link]="true"
            size="small"
            (click)="goToComparePage(courseRevision.id)"
        ></p-button>
    </div>
</div>
