<div class="w-full md:w-10 m-auto">
    <div class="font-bold text-xl mb-4">Curriculum Information</div>

    <div class="mb-4">
        Welcome to the curriculum overview for the Bachelor of Science in Computer Science and
        Engineering (B.Sc. CSE) program. Our curriculum is meticulously designed to provide a
        comprehensive education that balances theoretical knowledge with practical application. It
        encompasses core subjects such as algorithms, data structures, computer architecture, and
        operating systems, along with advanced courses in artificial intelligence, cybersecurity,
        data science, and software engineering. This diverse and dynamic curriculum aims to equip
        students with the essential skills and knowledge required to excel in the ever-evolving
        field of computer science and engineering, ensuring they are well-prepared to meet the
        challenges and opportunities of the tech industry. Below is a detailed list of the courses
        offered throughout the program, structured to facilitate a progressive learning experience.
    </div>

    <div class="surface-section curriculum-list-header">
        <div class="flex justify-content-between">
            <div></div>
            <p-button
                *hasPermission="['Permissions.Curriculums.Create']"
                label="Create"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                size="small"
                (click)="onClickCreateBtn()"
            ></p-button>
        </div>
    </div>
    <div class="">
        <app-curriculum-list [curriculums]="curriculums"></app-curriculum-list>
    </div>
</div>
