<p-card>
    <div>
        <p-dropdown
            [options]="sourceCourseRevisions"
            [(ngModel)]="sourceCourseRevisionId"
            optionLabel="reasonForRevision"
            optionValue="id"
            [showClear]="true"
            placeholder="Select source course"
        ></p-dropdown>
        <p-dropdown
            [options]="targetCourseRevisions"
            [(ngModel)]="targetCourseRevisionId"
            optionLabel="reasonForRevision"
            optionValue="id"
            [showClear]="true"
            placeholder="Select target course"
        ></p-dropdown>
        <p-button
            (click)="compare()"
            label="Compare"
            severity="info"
            size="small"
            [text]="true"
            [plain]="true"
            [outlined]="true"
        ></p-button>
    </div>
</p-card>
<p-card styleClass="mt-3">
    <ng-container *ngIf="sourceCourseRevision">
        <h3>{{ sourceCourseRevision.reasonForRevision }}</h3>
        <div [innerHTML]="sourceCourseRevision.description" class="w-full"></div>
        <!-- <p-editor
            [ngModel]="sourceCourseRevision.description"
            [readonly]="true"
            [style]="{ width: '100%' }"
        ></p-editor> -->
    </ng-container>
</p-card>

<p-card styleClass="mt-3">
    <ng-container *ngIf="targetCourseRevision">
        <h3>{{ targetCourseRevision.reasonForRevision }}</h3>
        <div [innerHTML]="targetCourseRevision.description"></div>
        <!-- <p-editor
            [ngModel]="targetCourseRevision.description"
            [readonly]="true"
            [style]="{ width: '100%' }"
        ></p-editor> -->
    </ng-container>
</p-card>

<p-card styleClass="mt-3">
    <div>
        <h3>HTML Diff Output</h3>
        <div [innerHTML]="diffOutput"></div>
        <!-- <p-editor [ngModel]="diffOutput" [readonly]="true" [style]="{ width: '100%' }"></p-editor> -->
    </div>
</p-card>
