<div class="font-medium text-2xl text-900 mb-3">Interdisciplinary Courses</div>

<div>
    <div class="surface-section course-list-header">
        <div class="flex justify-content-end">
            <p-inputGroup>
                <input type="text" pInputText [(ngModel)]="courseDisciplineTitle" />
                <button
                    type="button"
                    pButton
                    [loading]="isLoading"
                    label="Add"
                    class="p-button-primary"
                    (click)="onClickAddBtn()"
                ></button>
            </p-inputGroup>
        </div>
    </div>
    <p-table
        [value]="courseDisciplines"
        [scrollable]="true"
        scrollHeight="400px"
        [tableStyle]="{ 'min-width': '50rem' }"
        class="inter-disciplinary-course-list"
    >
        <ng-template pTemplate="header">
            <tr class="surface-section course-list-header">
                <th class="w-6">Title</th>
                <th>Total Courses</th>
                <th>Total Credit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course>
            <tr>
                <td class="w-6">
                    <p-button
                        [label]="course.title"
                        [text]="true"
                        [link]="true"
                        [plain]="true"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
