.faculty-list-header {
    color: #374151;
    border: 1px solid #e5e7eb;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
}

.course-list td {
    padding: 0.3rem 1rem;
}

.course-list th {
    background: white;
}
