<div class="surface-section course-list-header">
    <div class="flex justify-content-end">
        <p-button
            label="New"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            [routerLink]="['create']"
            size="small"
        ></p-button>
    </div>
</div>
<p-table
    [value]="courses"
    [scrollable]="true"
    scrollHeight="400px"
    [tableStyle]="{ 'min-width': '50rem' }"
    class="course-list"
>
    <ng-template pTemplate="header">
        <tr class="surface-section course-list-header">
            <th class="w-6">Title</th>
            <th class="w-3">Credit Hour</th>
            <th class="w-3">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
        <tr>
            <td class="w-6">
                <p-button
                    [label]="course.title"
                    [text]="true"
                    [link]="true"
                    [plain]="true"
                    [routerLink]="[course.id]"
                ></p-button>
            </td>
            <td class="w-3">{{ course.creditHour }}</td>
            <td class="w-3">
                <p-button
                    icon="pi pi-pencil"
                    label="Edit"
                    [routerLink]="['edit', course.id]"
                    size="small"
                    [text]="true"
                    [plain]="true"
                    severity="info"
                ></p-button>
                <p-button
                    icon="pi pi-trash"
                    label="Delete"
                    (click)="onClickDeleteBtn(course.courseId)"
                    size="small"
                    [text]="true"
                    [plain]="true"
                    severity="warning"
                ></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
